:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nz-layout {
  height: 100vh;
}

nz-header {
  display: flex;
  align-items: center;

  h1 {
    color: #fff;
  }
  app-logged-in-user {
    margin-right: 0;
    margin-left: auto;
  }
}

nz-content {
  padding: 50px;
}

nz-content,
.inner-content {
  height: 100%;
}

.logo {
  height: 80%;
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    height: 100%;
  }
  h1 {
    margin: 0;
    padding: 0 16px;
  }
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
