<button nz-button [routerLink]="['..', '..', 'coins']">Go Back</button>

<div class="main" *ngIf="product$ | async as p">
  <h1>Buy {{ p.name }} @ ${{ p.cost }} per item</h1>
  <div>
    Available Funds: ${{ (availableAmount$ | async | number: "1.2-2")! }}
  </div>
  <div>
    Available Funds after purchase ${{
      (availableAmount$ | async)! - amount * p.cost | number: "1.2-2"
    }}
  </div>

  <div class="purchase-controls">
    <input
      #i
      (input)="amount = +i.value"
      [value]="amount"
      placeholder="Amount"
      type="number"
    />

    <div class="buy" *ngIf="availableAmount$ | async as fundsAvailable">
      <button
        nz-button
        [disabled]="
          !(p.amountAvailable >= amount && fundsAvailable >= +amount * p.cost)
        "
        (click)="purchase(p.name, amount)"
      >
        Buy for ${{ amount * p.cost | number: "1.2-2" }}
      </button>
    </div>
  </div>

  <div class="errors">
    <div *ngIf="(availableAmount$ | async)! < amount * p.cost">
      Not enough funds
    </div>
    <div *ngIf="p.amountAvailable < amount">Not enough Products</div>
  </div>
</div>
