<ng-container *ngIf="formState$ | async as formState">
  <form nz-form novalidate class="register-form" [ngrxFormState]="formState">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            [ngrxFormControlState]="formState.controls.userName"
            placeholder="Username"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            [ngrxFormControlState]="formState.controls.password"
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <label>
            <input
              type="checkbox"
              [ngrxFormControlState]="formState.controls.isSeller"
            />
            I am a Seller
          </label>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button
      nz-button
      class="register-form-button register-form-margin"
      nzType="primary"
      [disabled]="!formState.isValid"
      (click)="register()"
    >
      Register
    </button>
    <div class="register">Or <a routerLink="/auth/login">Login instead</a></div>
  </form>
</ng-container>
