<section *ngIf="(productsForSale$ | async)! as products">
  <nz-table #table [nzData]="products">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount Available</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of table.data">
        <td>
          {{ p.name }}
        </td>
        <td>{{ p.amountAvailable }}</td>
        <td>${{ p.cost }}</td>
        <td>
          <div class="actions">
            <button nz-button [routerLink]="['buy', p.name]">Buy</button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</section>

<section>
  <router-outlet></router-outlet>
</section>
